BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 1000
SortIncludes: Never
SpacesBeforeTrailingComments: 2
AlignTrailingComments:
  Kind: Never
AlignAfterOpenBracket: AlwaysBreak
AlwaysBreakTemplateDeclarations: Yes
PackConstructorInitializers: Never
BreakConstructorInitializers: AfterColon
